FLASK_ENV=development
SECRET_KEY=dev-secret-key
DATABASE_NAME=hackathon_db
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_MAX_CONNECTIONS=12
DATABASE_STALE_TIMEOUT=300
DATABASE_POOL_TIMEOUT=5
HEALTH_DB_TIMEOUT_MS=1000
SHORT_CODE_LENGTH=6
SHORT_CODE_ATTEMPTS=10
CLICK_EVENT_WORKERS=2
GUNICORN_WORKERS=2
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=30
GUNICORN_GRACEFUL_TIMEOUT=10
